.entryCodesContainer {
    padding: 24px;
    background: #fff;
    max-width: 1000px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
}
