.sidebar {
  width: 280px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu {
  flex: 1;
  background: transparent;
  border-right: none;
}

.menu :global(.ant-menu-item) {
  font-size: 14px;
  height: 48px;
  line-height: 48px;
}
